@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
html{
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/background.png');
    background-attachment: fixed;
    box-shadow: 5px 2px 2px #ccc;
}


header {
    width: 100%;
    height: 70px;
    background-attachment: fixed;
    background-color: #151F2E;
    display: flex;
    justify-content: center;
}

.header-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    float: left;
    list-style-type: none;
    color: rgba(255,255,255,0.8);
}

.header-content nav ul li {
    margin-right: 10px;
    cursor: pointer; 
    padding: 12px;
}
.header-content nav ul li:hover {
    color: #fff;
    background-color: rgba(31,41,56,1);
    border-radius: 7px;

}

.header-left-side, .header-right-side{
    display: flex;

    align-items: center;
}

.logo-container {
    text-align: center;
    width: 170px;
    height: 75px;
    background-color: #151321;
}


.search-input {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(4,4,4,0.4);
    margin-right: 2.5em;
    padding: 4px;
    cursor: pointer;
}

.search-input input {
    padding: 8px;
    background: transparent;
    border: none;
    outline:none;
    color: #eee;
}

.search-input img {
    margin-right: 4px;
}

#profile-logo {
    cursor: pointer;

}

main {
    box-sizing: border-box;
    display: flex;
    background-color: rgba(4, 4, 4, 0.75);
    width: 1200px;
    padding:  20px;
}


.animelist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    width: 860px;
}

.anime-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 144px;
    margin: 5px 10px;  
    cursor: pointer;
}

.anime-card span {
    font-size: 14px
}

.cover-img{
    width: 144px;
    border-radius: 7px;
}

.side-animes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.anime-side-card {
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 90px;
    margin-bottom: 20px;
    cursor: pointer;
}

.banner-img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    position: relative;
}

.anime-side-title-absolute{
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 7.7px;
    padding-bottom: 5px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    background-image: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
    width: 292.3px;
}

footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    border-top: 1px solid #333;
    background-color: #040404;
    color: #bbb;
    width: 1200px;
    height: 100px;
    padding: 10px 30px;
}

footer span a {
    text-decoration: none;
    color: #eee;
}

footer .github-logo {
    width: 16px;
    height: 16px;
    text-align: center;
    margin-left:5px;
}