@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
html{
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('images/background.png');
    background-attachment: fixed;
    box-shadow: 5px 2px 2px #ccc;
}


main {
    box-sizing: border-box;
    display: flex;
    background-color: rgba(4, 4, 4, 0.75);

}

